<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="rainer" value="https://nuget.pkg.github.com/rainersigwald/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <rainer>
        <add key="Username" value="%GITHUB_USERNAME%" />
        <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
      </rainer>
  </packageSourceCredentials>
</configuration>
