<Project>
    <PropertyGroup>
        <ContainerRegistry></ContainerRegistry>
        <ContainerRepository>chusk3/sdk-container-demo</ContainerRepository>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerImageTag>chiseled</ContainerImageTag>
        <SelfContained>true</SelfContained>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/nightly/runtime-deps:8.0-jammy-chiseled</ContainerBaseImage>
        <PublishTrimmed>true</PublishTrimmed>
    </PropertyGroup>
</Project>