<Project>
    <PropertyGroup>
        <ContainerBaseImage>quay.io/tmds/dotnet:8.0-rc1</ContainerBaseImage>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>baronfel/sdk-container-demo-oci</ContainerRepository>
    </PropertyGroup>
</Project>