<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/052a3e01-d48a-41bd-9ecb-1886a86d0216/resourceGroups/sdk-container-demo/providers/Microsoft.ContainerRegistry/registries/sdkcontainerdemo</ResourceId>
    <ResourceName>sdkcontainerdemo</ResourceName>
    <ResourceGroup>sdk-container-demo</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>sdkcontainerdemo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>121ede59-5e93-4caa-adca-b43650e85fc7</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>