<Project>
    <PropertyGroup>
        <ContainerRegistry>registry-1.docker.io</ContainerRegistry>
        <ContainerImageName>chusk3/sdk-container-demo</ContainerImageName>
        <WebPublishMethod>Container</WebPublishMethod>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <Configuration>Release</Configuration>
    </PropertyGroup>
</Project>