<Project>
    <PropertyGroup>
        <ContainerRegistry></ContainerRegistry>
        <ContainerImageName>chusk3/sdk-container-demo</ContainerImageName>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerImageTag>chiseled</ContainerImageTag>
        <SelfContained>true</SelfContained>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/nightly/runtime-deps:7.0-jammy-chiseled</ContainerBaseImage>
        <PublishTrimmed>true</PublishTrimmed>
    </PropertyGroup>
</Project>