<Project>
    <PropertyGroup>
        <ContainerRegistry>console-openshift-console.apps.sandbox-m4.g2pi.p1.openshiftapps.com</ContainerRegistry>
        <ContainerImageName>baronfel-dev/sdk-container-demo</ContainerImageName>
        <WebPublishMethod>Container</WebPublishMethod>
    </PropertyGroup>
</Project>